body{
    margin: 0;
    text-align: center;
    position: relative;
    font-family: 'Merriweather', serif;
    color: white;
    text-s

}
h1{
    font-size: 9.625rem;
    width: 100%;
    
    font-family: 'Sacramento', cursive; 
    
        
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;    
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}
.top-container{
    
    
    
}
.middle-container{
    margin-top: 25%;
        
}
.bottom-container{
 margin-top: 5%;    
}
.top-cat{
    position: absolute;
    right: 10rem;
    top:10rem;
    height: 15.625rem;
    width: 20.625rem;

}
.bottom-cat{
    position: absolute;
    right: 90rem;
    top: 35rem;
    height: 15.625rem;
    width: 20.625rem;

}
.skill-icon{
    height: 6.25rem;
    width: 6.25rem;
}
.profile{
    font-size:2rem ;
}
.skill-row{
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;    
}
